.submit-form {
  max-width: 566px;
}

.submit-form input[type="email"],
.submit-form button,
.submit-form label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $color-default-white;
}

.submit-form input[type="email"] {
  width: 300px;
  padding: 22px 33px 22px 33px;
  color: $color-default-black;
  border-radius: 10px;
  margin: 0 0 24px 0;
  transition: box-shadow 0.5s ease;

  &:hover {
    box-shadow: 0 0 5px 3px $color-seagull;
  }

  &.has-error {
    box-shadow: 0 0 2px 2px $color-cinnabar;
  }
}

.submit-form button {
  width: 250px;
  font-weight: 700;
  border-radius: 10px;
  padding: 22px 33px 22px 33px;
  background-color: $color-seagull;
  cursor: pointer;
  transition: box-shadow 0.5s ease;

  @include vp--767 {
    width: 300px;
    margin-bottom: 20px;
  }

  &:hover {
    box-shadow: 0 0 5px 3px $color-seagull;
  }

  &:active {
    opacity: 0.7;
  }
}

.submit-form input[type="checkbox"] {
  appearance: none;
}

.submit-form__label {
  padding: 1px 0 5px 35px;
  cursor: pointer;
}

.submit-form input[type="checkbox"] + .submit-form__label {
  background-image: url("../img/icon-checkbox.svg");
  background-repeat: no-repeat;
}

.submit-form input[type="checkbox"]:checked + .submit-form__label {
  background-image: url("../img/icon-checkbox-checked.svg");
  background-repeat: no-repeat;
}

.has-error + .submit-form__label {
  color: $color-cinnabar;
}

// .submit-form label {
// }
