// Переменные

// Colors

$color-default-white: #ffffff;
$color-default-black: #000000;
$color-whitesmoke: #f3f3f3;
$color-seagull: #6ebbd3;
$color-blackpearl: #1f2021;
$color-verylightgrey: #cacaca;
$color-cinnabar: #e52d2d;

// Typography

$font-family-montserrat: "Montserrat", arial, sans-serif;

// viewports

$vp--1024: 1024px;
$vp--768: 768px;
